/* Загальні стилі для сторінки */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;

  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background-color: #121212;

  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-title {
  color: #00FF66;
  font-weight: 550;
  font-size: 23px;
  margin: 0;
}

.close-modal-btn {
  width: 35px;
  height: 30px;
  background-color: #00FF66;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.close-modal-btn:hover {
  background-color: #00FF66;
}

.modal-close-icon {
  fill: #e5e0a6;
  width: 20px;
  height: 20px;
}

/* Форма реєстрації */
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-input {
  border: 2px solid #00FF66;
  border-radius: 5px;
  padding: 10px;
  transition: border 250ms ease;
}

.modal-input:hover,
.modal-input:focus {
  border: 2px solid #00FF66;
}

/* Кнопки форми */
.form-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-link,
.google-modal {
  background-color: #00FF66;
  color: #1E1E1E;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-link:hover,
.google-modal:hover {
  background-color: #00FF66;
}

/* Секція гаманців */
.wallet-conection-div {
  margin-top: 20px;
}

.walet-modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-bottom: 1px solid #00FF66;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.wallets-selection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.metamask-btn,
.other-wallets-btn {
  background-color: #00FF66;
  color: #1E1E1E;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.metamask-btn:hover,
.other-wallets-btn:hover {
  background-color: #00FF66;
}