.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e0a6;
  padding: 10px;
}

.header-logo {
  background: linear-gradient(to right, blueviolet, #DDA0DD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.header-end {
  display: flex;
  gap: 10px;
}

.select-language {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #DDA0DD;
  background-color: #e6deee;
  font-size: 16px;
  cursor: pointer;
}

.select-language:focus,
.select-language:hover {
  outline: none;
  border-color: #DDA0DD;
  background-color: #e9c5e9;
}

.menu-button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.menu-header-icon {
  fill: blueviolet;
}

.sing-in {
  display: block;
}

.header-list {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  z-index: 999;
}

.header-modal {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 90px;
  margin-bottom: 10px;
}

.modal-title {
  color: #4C164E;
  text-align: center;
  font-weight: 550;
  font-size: 23px;
}

.modal-close-icon {
  fill: #e5e0a6;
}

.close-modal-btn {
  width: 35px;
  height: 30px;
  background-color: #4C164E;
  transition: background-color 250ms ease;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-modal-btn:hover {
  background-color: #DDA0DD;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-input {
  border: 2px solid #8A2BE2;
  border-radius: 5px;
  padding: 10px;
  transition: border 250ms ease;
}

.modal-input:hover {
  border: 2px solid #DDA0DD;
}

.modal-input:focus {
  border: 2px solid #DDA0DD;
}

.form-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.google-modal,
.modal-link {
  background-color: #4C164E;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: background-color 0.3s ease;
}

.google-modal:hover,
.modal-link:hover {
  background-color: #DDA0DD;
}

.walet-modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-bottom: 1px solid #DDA0DD;
  margin-bottom: 10px;
}

.wallets-selection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.metamask-btn,
.other-wallets-btn {
  background-color: #4C164E;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.metamask-btn:hover,
.other-wallets-btn:hover {
  background-color: #DDA0DD;
}

.mobile-menu-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5e0a6;
  z-index: 1000;
  padding: 20px;
}

.mobile-menu-header {
  padding: 15px 10px;
}

.mobile-menu-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.close-menu-btn {
  background: none;
  border: none;
}

.menu-close-icon {
  fill: #8A2BE2;
}

.menu-close-icon:hover {
  fill: #DDA0DD;
}

.head-menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border: 1px solid #DDA0DD;
  padding: 20px;
  gap: 25px;
  width: auto;
  height: auto;
}

.head-menu-mob-item {
  color: #483D8B;
  font-size: 18px;
  font-size: 400;
}

.head-menu-mob-item:hover {
  color: #8A2BE2;
}

.submenu-mobile-header {
  padding: 10px;
  border: 1px solid #DDA0DD;
  border-radius: 5px;
  margin-top: 10px;
  width: auto;
}

.submenu-mobile-item {
  margin-bottom: 10px;
  color: #8A2BE2;
}

.sing-in .sing-btn {
  background-color: #8A2BE2;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sing-in .sing-btn:hover {
  background-color: #D8BFD8;
}

body.modal-open {
  background-color: #F5F3FF;
  overflow: hidden;
  pointer-events: none;
}

body.modal-open .modal,
body.modal-open .backdrop {
  pointer-events: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

/* Стилі для мобільних пристроїв */
@media screen and (max-width: 767px) {
  .sing-in .sing-btn {
    padding: 9px 13px; /* Зменшуємо padding */
    font-size: 12px; /* Зменшуємо розмір шрифту */
  }

  .header-end {
    gap: 5px; /* Зменшуємо відстань між кнопками */
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-header {
    display: none;
  }

  .menu-button {
    display: none;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .header-list-item {
    color: blueviolet;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  .header-list-item:hover {
    color: #DDA0DD;
  }

  .knowledge-base {
    position: relative;
  }

  .header-menu {
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fcfbd9;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 250px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 1000;
  }

  .knowledge-base:hover .header-menu {
    visibility: visible;
    opacity: 1;
  }

  .header-menu-item {
    padding: 12px 10px;
    border-bottom: 1px solid #f5cef8;
    transition: background-color 0.2s ease-in-out;
  }

  .header-menu-item:last-child {
    border-bottom: none;
  }

  .header-menu-item:hover {
    background-color: #fcfbd9;
  }

  .header-menu-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hover-menu-title {
    font-size: 16px;
    font-weight: bold;
    color: #483D8B;
    margin-bottom: 5px;
  }

  .hover-menu-p {
    font-size: 14px;
    color: #666;
  }

  .hover-menu-p:hover {
    color: #666;
  }
}